<ion-header class="ion-no-border">
  <ion-toolbar class="aph-toolbar">

    @if (showBack) {
      <ion-buttons slot="start">
        <ion-button fill="clear" class="aph-back-btn" (click)="onBackClick($event)">
          <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
          {{ backText }}
        </ion-button>
      </ion-buttons>
    }

    <ion-title class="aph-title">{{ title }}</ion-title>

    <!-- Acciones opcionales al final: proyectar con slot="end" -->
    <ng-content></ng-content>

  </ion-toolbar>
</ion-header>
